# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out
coverage.html

# Dependency directories
vendor/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
